*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle
.gradle/
build/

.signing/

local.properties

proguard/

*.log

/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp

*.jks
*.keystore

gen-external-apklibs

.externalNativeBuild

obj/

*.iml
*.iws
/out/

.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/navEditor.xml

.classpath
.project
.cproject
.settings/

.mtj.tmp/

*.war
*.ear

hs_err_pid*

.idea_modules/

atlassian-ide-plugin.xml

.idea/mongoSettings.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

!/gradle/wrapper/gradle-wrapper.jar